/* Brand Colors ------------------------------------------------*/

	$color-orang: #f69679;
	$color-gray: #7a7a7a;
	$color-fond: #333333;
	$brand-font: 'Open Sans', sans-serif;
	$brand-font-2: 'Roboto', sans-serif;
	$time: 0.3s;
	$argument: scale(1.1, 1.1);
